<mat-sidenav-container>
  <mat-sidenav #sideNav mode="side" opened class="p-a">
    <button id="sidenav-close" mat-icon-button (click)="sideNav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div *ngIf="searchOptions">
      <h2>Search for products</h2>
      <mat-form-field class="full-width">
        <input matInput placeholder="Search query">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-select placeholder="Category">
          <mat-option value="0" selected>
            All Categories
          </mat-option>
          <ng-container *ngFor="let category of searchOptions.categories">
            <mat-option class="option-group" [value]="category.id">
              {{category.name}}
            </mat-option>
            <mat-option class="sub-option" *ngFor="let childCategory of category.childCategories" [value]="childCategory.id">
              {{childCategory.name}}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-sidenav>
  <mat-toolbar>
  </mat-toolbar>
  <h1>Search results</h1>
</mat-sidenav-container>