<mat-sidenav-container>
  <mat-sidenav #sideNav mode="side" opened class="p-a">
    <button id="sidenav-close" mat-icon-button (click)="sideNav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div *ngIf="searchOptions">
      <form [formGroup]="searchForm">
        <h2>Search for products</h2>
        <mat-form-field class="full-width">
          <input formControlName="queryText" matInput placeholder="Search query">
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-select formControlName="categoryId" placeholder="Category" (selectionChange)="search()">
            <ng-container *ngFor="let category of searchOptions.categories">
              <mat-option [class.option-group]="category.id !== 0" [value]="category.id">
                {{category.name}}
              </mat-option>
              <mat-option class="sub-option" *ngFor="let childCategory of category.childCategories" [value]="childCategory.id">
                {{childCategory.name}}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="searchResult?.brandOptions" class="full-width">
          <mat-select placeholder="Brands" multiple [value]="searchForm.controls['metaFieldOptions'].value" #brands>
            <mat-option *ngFor="let brandOption of searchResult.brandOptions" [value]="brandOption.id">{{brandOption.value}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="searchResult" class="m-b">
          <mat-label>Price</mat-label>
          <nouislider [min]="searchResult.minPrice" [max]="searchResult.maxPrice" [step]="1" [connect]="true" [formControl]="searchForm.controls['priceRange']"></nouislider>
          <mat-hint>€ {{searchForm.value.priceRange[0]}}</mat-hint>
          <mat-hint class="right">€ {{searchForm.value.priceRange[1]}}</mat-hint>
        </div>
        <button mat-raised-button color="primary" class="full-width" (click)="search()">Search</button>
      </form>
    </div>
  </mat-sidenav>
  <mat-toolbar fxLayout="column">
    <span class="m-x-xs">Ordered by:</span>
    <mat-select #ordering fxFlexAlign="flex-end" [value]="searchForm.value.ordering" (selectionChange)="onOrderingChange(ordering.value)">
      <mat-option [value]="ProductOrdering.ProductOrdering.Relevancy">
        Relevancy
      </mat-option>
      <mat-option [value]="ProductOrdering.ProductOrdering.PriceLowToHigh">
        Price low to high
      </mat-option>
      <mat-option [value]="ProductOrdering.ProductOrdering.PriceHighToLow">
        Price high to low
      </mat-option>
    </mat-select>
    <mat-button-toggle-group fxFlexAlign="flex-end">
      <mat-button-toggle [checked]="currentView === ProductView.Grid" (click)="changeView(ProductView.Grid)">
        <mat-icon>view_comfy</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle [checked]="currentView === ProductView.List" (click)="changeView(ProductView.List)">
        <mat-icon>view_list</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </mat-toolbar>
  <mat-progress-bar mode="indeterminate" *ngIf="searching"></mat-progress-bar>
  <div *ngIf="searchResult?.products" fxflex fxLayout="row wrap" id="search-results" class="p-a" [class.searching]="searching">
    <ng-container *ngIf="currentView === ProductView.Grid">
      <mm-product-card *ngFor="let product of searchResult.products" [product]="product" fxflex fxFlex="20" fxFlex.xs="100" fxFlex.sm="50"
        fxFlex.md="33" fxFlex.lg="20"></mm-product-card>
    </ng-container>
    <ng-container *ngIf="currentView === ProductView.List">
      <mat-list fxLayout="columng wrap">
        <ng-container *ngFor="let product of searchResult.products; let i = index">
          <mm-product-list-item [product]="product" fxflex fxFlex="100%"></mm-product-list-item>
          <mat-divider fxFlex="100%" *ngIf="i + 1 !== searchResult.products.length"></mat-divider>
        </ng-container>
      </mat-list>
    </ng-container>
  </div>
  <mat-paginator *ngIf="searchOptions && searchResult" [pageIndex]="searchForm.value.pageNr - 1" [length]="searchResult.totalProductCount"
    [pageSize]="20" [pageSizeOptions]="[]" [showFirstLastButtons]="true" (page)="onPageChange($event)"></mat-paginator>
</mat-sidenav-container>